.area{
    //background-color: green;
    height: auto;
    border: 0px solid;
    margin: auto;
}
.rightarea{
	float: left;
	width: 50%;
	height: 100%;
	//background-color: red;
}
.leftarea{
	float: left;
	width: 50%;
	height: 100%;
	//background-color: yellow;
}
.listDiv table{
	//width: 200px;
	//border: 1px solid blue;
	//border-color : #add9c0;
	//border-width : 1px 1px 1px 1px;
}
.listDiv table tr{
	border: 1px solid blue;
}


