Ext.define('${bean.beanPackage}', {
	extend : 'gantang.model.AuditModel',
	fields : [{
	#foreach ( $property in ${propertyList} )
		name : '${property.name}',
			type : '${property.jsType}'
		},{
	#end
	}]
});