package ${bean.beanPackage};

import com.gantang.framework.hibernate.dao.IQbcDao;

import ${bean.beanPackagePrefix}.model.${bean.beanName};

/**
 * ${bean.beanName}Dao
 *
 * @author $!{annotationAuthor}
 *
 */
public interface ${bean.beanName}Dao extends IQbcDao<${bean.beanName}> {

	/**
	 * 初始化查询引擎，使用QBC查询时必须先执行该方法
	 *
	 * @return this
	 */
	${bean.beanName}Dao createQuery();
}