<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="tableList" th:unless="${#lists.isEmpty(tables)}" id="results-block">
		<table>
			<thead>
				<tr>
					<th><input name="category" type="checkbox" onchange="selectAllChange(this)"/> 全选</th>
					<th>编号</th>
					<th>表名</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item,start: ${tables}">
					<td><input name="selectTable" type="checkbox" th:tableName=${item} onchange="checkboxChangeEven()" /></td>
					<td th:text="${start.count}"></td>
					<td th:text="${item}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>