package ${bean.beanPackage};

import com.gantang.framework.bo.DataContainer;
import com.gantang.framework.bo.QueryCriteria;
import com.gantang.framework.bo.PageResult;

import ${bean.beanPackagePrefix}.model.${bean.beanName};

/**
 * ${bean.beanName}Service
 * 
 * @author $!{bean.author}
 *
 */
public interface ${bean.beanName}Service {

	/**
	 * QueryCriteria 查询
	 *
	 * @param criteria
	 *            criteria
	 * 
	 * @return PageResult
	 */
	PageResult<${bean.beanName}> doFindByCriteria(QueryCriteria criteria);

	/**
	 * find ${bean.beanName} by id
	 *
	 * @param id
	 *            主键
	 * @return ${bean.beanName}
	 */
	${bean.beanName} doFindById(Long id);

	/**
	 * 可编辑表格中的数据的批量保存.
	 *
	 * @param dataContainer
	 *            包含所有新增、修改、删除
	 */
	void doSave(DataContainer<${bean.beanName}> dataContainer);

	/**
	 * create a ${bean.beanName}
	 *
	 * @param ${bean.nameVariable}
	 *            ${bean.nameVariable}
	 */
	void doCreate(${bean.beanName} ${bean.nameVariable});

	/**
	 * update a ${bean.beanName}
	 *
	 * @param ${bean.nameVariable}
	 *            ${bean.nameVariable}
	 */
	void doUpdate(${bean.beanName} ${bean.nameVariable});

	/**
	 * delete a ${bean.beanName}
	 *
	 * @param ${bean.nameVariable}
	 *            ${bean.nameVariable}
	 */
	void doDelete(${bean.beanName} ${bean.nameVariable});
}