Ext.define('${bean.beanPackage}', {
	extend : "Ext.app.Controller",
	models : ['${bean.beanPackagePrefix}Model'],
	views : ['${bean.beanPackagePrefix}View'],
	init : function(application) {
		this.control({
		});
	},
	mainView : '${bean.beanPackagePrefix}View',
	viewConfig : {
		width : '95%',
		height : '90%'
	}
})